:root{
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    font-family: var(--font-family);
}

h1{
    color: royalblue;
}

.header{
    background: rgb(59, 120, 234);
    color: white;
    margin: 10px;
    padding: 30px 10px 10px 20px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

nav{
    background: rgb(28, 71, 163);
    color:white;
    margin: 10px;
    padding: 10px 10px 10px 20px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
}

.box{
    margin: 0px 10px 0px 10px;
}

.nav{
    background: turquoise;
    color: white;
    /* margin: 0px 0px 0px 10px; */
    width: 20%;
}

.nav div{
    background: mediumseagreen;
}

main{
    background: rgb(66, 148, 155);
    /* margin: 0px 0px 0px 10px; */
    width: 60%;
}

.section1{
    background: silver;
}

.article1{
    background: dimgrey;
}

.article1 div{
    background: mediumseagreen;
}

.aside1{
    background: gray;
}

.aside1 div{
    background: mediumseagreen;
}

.section2{
    background: silver;
}

.article2{
    background: dimgrey;
}

.article2 div{
    background: mediumseagreen;
}

.aside2{
    background: gray;
}

.aside2 div{
    background: mediumseagreen;
}

.aside3{
    background: gray;
    /* margin: 0px 0px 0px 10px; */
    width: 20%;
}

.aside3 div{
    background: mediumseagreen;
}

footer{
    background: rgb(59, 120, 234);
    color: white;
    margin: 10px;
    padding: 30px 10px 10px 20px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}