:root{
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font-size: 20px;
    --font-weight: bold;
    --color: white;
    --display: flex;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--color);
    width: 1366px;
    height: 1080px;
}

.header{
    background: rgb(29, 122, 245);
    margin: 1%;
    padding: 0% 1% 0% 2%;
    height: 8%;
    display: var(--display);
    align-items: center;
}

nav{
    background: rgb(0, 74, 173);
    margin: 1%;
    padding: 0% 1% 0% 2%;
    height: 5%;
    display: var(--display);
    align-items: center;
}

.box{
    margin: 0% 1% 0% 1%;
    display: var(--display);
    height: 82%;
}

.nav{
    background: rgb(56, 182, 255);
    padding: 0.5% 0% 0% 2.8%;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.nav div{
    background: rgb(3, 152, 158);
    width: 80%;
    height: 20%;
    margin: 2%;
    padding: 12% 0% 0% 0%;
    text-align: center;
    
}

main{
    background: rgb(3, 152, 158);
    margin: 0% 1%;
    width: 60%;
    flex-direction: column;
    align-items: center;
    padding: 0.5% 0% 0% 3.4%;
}

.section{
    background: rgb(226, 226, 226);
    color: rgb(50, 45, 55);
    width: 93%;
    height: 45%;
    margin: 1% 0% 2% 0%;
    flex-direction: column;
    text-align: left;
    padding: 1% 0% 0% 1%;
}

.article{
    background: rgb(115, 115, 115);
    color: var(--color);
    width: 94%;
    height: 41%;
    margin: 1% 0% 1% 2.5%;
    flex-direction: column;
    padding: 1% 0% 1% 0%;
    text-align: center;
}

.flex-container-article1{
    background: rgb(115, 115, 115);
    height: 90%;
    margin: 0% 1% 0% 1%;
    display: var(--display);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex-item1{
    background: rgb(3, 152, 158);
    flex-grow: 3;
    margin: 0% 1% 1% 1%;
    height: 87%;
    display: var(--display);
    align-items: center;
    justify-content: center;
}

.flex-item2{
    background: rgb(3, 152, 158);
    flex-grow: 1;
    margin: 0% 1% 1% 1%;
    height: 87%;
    display: var(--display);
    align-items: center;
    justify-content: center;
}

.aside1{
    background: rgb(166, 166, 166);
    color: var(--color);
    width: 94%;
    height: 41%;
    margin: 1% 0% 1% 2.5%;
    flex-direction: column;
    padding: 1% 0% 1% 0%;
    text-align: center;
}

.flex-container-aside1{
    background: rgb(166, 166, 166);
    height: 90%;
    margin: 0% 1% 0% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.aside3{
    background: rgb(166, 166, 166);
    width: 20%;
    padding: 0.5% 0% 0% 2.8%;
    flex-direction: column;
    align-items: center;
}

.aside3 div{
    background: rgb(3, 152, 158);
    width: 80%;
    height: 20%;
    margin: 2%;
    padding: 12% 0% 0% 0%;
    text-align: center;
}

footer{
    background: rgb(29, 122, 245);
    margin: 1%;
    padding: 0% 1% 0% 2%;
    height: 6%;
    display: var(--display);
    align-items: center;
}